body {
	line-height: 1.5;
	margin: 2vmin;
	font-family: sans-serif;
}

h1 {
	margin: 0;
}

canvas {
	width: 96vmin;
	height: 96vmin;
	background-color: #032b5c;
	float: left;
	margin-right: 2vmin;
}

#fps {
	position: absolute;
	right: 4px;
	top: 5px;
}

#fps::after {
	content: " fps";
}

footer {
	font-size: 80%;
	text-align: center;
	margin-top: 1em;
}

[type=radio]:not(:checked) + label + section {
	display: none;
}

[type=radio]:checked + label {
	font-weight: bold;
}

label::after {
	content: "";
	display: block;
}

section {
	margin-bottom: 1em;
	margin-left: 2em;
}

#math code {
	display: block;
}

#math input {
	font-family: monospace;
	width: 80%;
	margin-left: 2ch;
}

@media all and (max-width: 870px) {
	body {
		margin: 0;
	}

	canvas {
		float: none;
		display: block;
		width: 100%;
		height: 50vh;
	}
	
	canvas ~ * {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}
